<a href="https://colab.research.google.com/github/tracedence/Data-analysis/blob/main/DA_filling_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [ ]:
## df.isnull().sum()--> return number of missing values
## df.dropna() --> doesn't reset index
## df.fillna(method="bfill") --> will fill null values with value after null, "ffill" will fill null values with value before null.

In [4]:
df = pd.DataFrame({'number': [1,2,3,np.nan, np.nan, np.nan, 8]})
df

   number
0     1.0
1     2.0
2     3.0
3     NaN
4     NaN
5     NaN
6     8.0

##Checking missing value

In [6]:
df.isnull().sum()

number    3
dtype: int64

### three null value in a column

## Droping null values

In [7]:
df.dropna()

   number
0     1.0
1     2.0
2     3.0
6     8.0

### null values drop

## fill null value with last value after null rows

In [8]:
df.fillna(method="bfill")

   number
0     1.0
1     2.0
2     3.0
3     8.0
4     8.0
5     8.0
6     8.0

## fill null values with first value before null

In [9]:
df.fillna(method="ffill")

   number
0     1.0
1     2.0
2     3.0
3     3.0
4     3.0
5     3.0
6     8.0

## filling null value with mean value

In [10]:
df.fillna(df["number"].mean())

   number
0     1.0
1     2.0
2     3.0
3     3.5
4     3.5
5     3.5
6     8.0

## interpolate: estimate unknown datapoints between two known points.
### application
* mostly used for imputation missing values, when avg value doesn't fit.
* image processing, when expanding an image, we can estimate the pixel value with the help of neighbouring pixels.
* Impute missing value in time series data because in time series we like to fill missing value with previous one or two values. Example: temperature.

In [15]:
df.interpolate(method='linear')

   number
0    1.00
1    2.00
2    3.00
3    4.25
4    5.50
5    6.75
6    8.00